:root { 
--gray_500_7e:#a6a6a67e; 
--indigo_A200:#4176fa; 
--light_blue_400:#1abcfe; 
--deep_purple_600:#4534cc; 
--gray_50:#f9fafb; 
--green_A400:#0acf83; 
--light_blue_800:#0077b5; 
--white_A700_30:#ffffff30; 
--black_900:#000000; 
--deep_orange_600:#f24e1e; 
--yellow_700:#ffb636; 
--yellow_900:#ff8f1f; 
--deep_orange_300:#ff7262; 
--white_A700_19:#ffffff19; 
--gray_903:#292929; 
--deep_purple_A200:#a259ff; 
--pink_600:#d31f61; 
--purple_A200:#f81dfb; 
--purple_500:#ad1aaf; 
--pink_300:#e9568c; 
--orange_A100:#ffd469; 
--gray_901:#081f32; 
--white_A700_0c:#ffffff0c; 
--gray_902:#111827; 
--gray_900:#1e1629; 
--gray_200:#e5e7eb; 
--gray_100:#f5fbf2; 
--white_A700_00:#ffffff00; 
--white_A700_66:#ffffff66; 
--white_A700_42:#ffffff42; 
--bluegray_400:#908293; 
--indigo_50_30:#e7e4f130; 
--purple_A200_0c:#f71cfb0c; 
--white_A700:#ffffff; 
}